[submodule "hugoblog/jackliangtw.github.io"]
	path = hugoblog/jackliangtw.github.io
	url = git@github.com:JackLiangTW/jackliangtw.github.io.git
	branch = main
[submodule "hugoblog/public"]
	path = hugoblog/public
	url = git@github.com:JackLiangTW/jackliangtw.github.io.git
	branch = main
