<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    <div class="clearButtons"></div>
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row d-flex">
          {{ range .Data.Pages }}
              <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item" tagData="{{.Params.tags}}">
                  <div class="box-masonry">
                      {{ if and (isset .Params "image") .Params.image }}

                        {{ if (isset .Params "usedirecturl") }} <!-- 直接倒到外部WebSite -->
                        <a target="_blank" href="{{ .Params.useDirectUrl }}" title="" class="box-masonry-image with-hover-overlay">
                        {{ else if eq .Params.showonlyimage true }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay">
                        {{ else }}
                        <a href="{{ .Permalink }}" title="" class="box-masonry-image with-hover-overlay with-hover-icon">
                        {{ end }}
                            <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
                        </a>
                      {{ end }}
                      {{ if eq .Params.showonlyimage true }}
                      <div class="box-masonry-hover-text-header">
                      {{ else }}
                      <div class="box-masonry-text">
                      {{ end }}
                          <h4>
                            {{ if (isset .Params "usedirecturl") }} <!-- 直接倒到外部WebSite -->
                            <a target="_blank" href="{{ .Params.useDirectUrl }}">
                            {{ else }}
                            <a href="{{ .Permalink }}">
                            {{ end }}
                            {{ .Title }}
                            </a>
                          </h4>

                          {{ if (isset .Params "tags") }} <!-- 做tags Filter功能 -->
                            {{ $myVar := split .Params.tags "," }}
                            {{ range $index, $element := $myVar }}
                            
                            {{ if eq (mod $index 4) 0 }}
                            <button type="button" class="chooseTag btn-sm btn btn-info" style="margin-top: 8px ;" tag="{{ $element }}">
                            {{ else if eq (mod $index 4) 1 }}
                            <button type="button" class="chooseTag btn-sm btn btn-primary" style="margin-top: 8px ;" tag="{{ $element }}">
                            {{ else if eq (mod $index 4) 2 }}
                            <button type="button" class="chooseTag btn-sm btn btn-warning" style="margin-top: 8px ;" tag="{{ $element }}">
                            {{ else }}
                            <button type="button" class="chooseTag btn-sm btn btn-secondary" style="margin-top: 8px ;" tag="{{ $element }}">
                            {{end}}
                              {{$element}}
                            </button>
                            {{end}}
                          {{end}}

                          {{ if and (isset .Params "showmoretile") .Params.showmoretile }}
                            <!-- 把 Description 關掉 -->
                            <div class="box-masonry-description">
                              <p>
                                  {{ if .Description }}
                                    {{ .Description }}
                                  {{ else }}
                                    {{ .Summary }}
                                  {{ end }}
                              </p>
                            </div>
                          {{end}}
                      </div>
                  </div>
              </div>
          {{ end }}
        </div>
    </div>
</div>

<script>
  let selectedTag = null;
  const btnsFilter = document.querySelectorAll('button.chooseTag');
  const allPanel = document.querySelectorAll('div.masonry-item');
  const clearBtnDiv = document.getElementsByClassName('clearButtons')[0];

  btnsFilter.forEach(function(button) { //- Filter加入Tags
    button.addEventListener('click', function() {
      var theTag = button.getAttribute('tag');
      if(selectedTag==null)selectedTag=[theTag];
      else if(selectedTag.includes(theTag)){ //- 已加入
        return;
      }
      else{ //- 加入
        selectedTag.push(theTag);
      }
      AddClearButtonRender(theTag);
      filterRender();
    });
  });

  function AddClearButtonRender(tagName){ //- 加上display:none, display:block
    var button = document.createElement('button');
    button.textContent = tagName;

    button.addEventListener('click', function() { //- 觸發移除自己Tag
      button.parentNode.removeChild(button); // remove <Button> ele
      if(selectedTag==null)return;
      var idx = selectedTag.indexOf(tagName);
      if(idx>=0){
        selectedTag.splice(idx,idx+1);
        if(selectedTag.length == 0)selectedTag = null; //- if no conditions
        filterRender(); //- ReRender context
      }
    });
    
    button.classList.add('btn','btn-primary');
    button.style.margin = '0 10px 10px 0';
    button.setAttribute('type', "button");
    button.setAttribute('tag', tagName);
    clearBtnDiv.appendChild(button);
  }

  function filterRender(){ //- 加上display:none, display:block
    const choosedTag = selectedTag==null ? null : selectedTag;
    allPanel.forEach(function(ele) {
      var eleHasTags = ele.getAttribute('tagData');
      var isShow = true;
      if(selectedTag){
        selectedTag.forEach(tg=>{
          if(!eleHasTags.includes(tg)){
            isShow=false;
            return;
          }
        });
      }
      ele.style.display = isShow ? "block":"none";
    });
    $(this)[0].masonry(); //- Trigger瀑布流排版 ReRender
  }

</script>

